@{ 
    var tasks = Enumerable.Range(0, 10).Select(index => Html.PartialAsync("_AsyncPartial", new { index })).ToList();
}
<div>
    @RenderBody()
    @foreach (var task in tasks)
    {
        @await task
    }
</div>